
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pos Web</title>
    <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../styles/add.css"/>
    <script src="../lib/jquery-2.1.1/jquery.mim.js"></script>
    <script src="../lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
</head>
  <div>
    <label for = "itemName" >name</label>
    <input type = "text" class = "iName">
    <label for = "itemPrice" >price</label>
    <input type = "number" class = "iPrice">
    <label for = "itemUnit">unit</label>
    <input type = "text" class = "iUnit">
    <button class = "addbutton">submit</button>
  </div>
<body>
<script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
<script type="text/javascript" src="../spec/fixtures.js"></script>
<script type="text/javascript" src="../scripts/utils.js"></script>
<script type="text/javascript" src="../scripts/add.js"></script>
</body>
</html>
