<link rel="stylesheet" href="styles/admin.css"/>
<div class="product-table">
  <table class="table table-bordered table-items">
    <caption class="product-table-title">商品列表</caption>
    <thead class "item-info">
      <tr>
        <th>编号</th>
        <th>名称</th>
        <th>单价(元)</th>
        <th>单位</th>
        <th>促销</th>
        <th>修改</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody id="product-table-list">
      <% Product.all.each do |item| %>
      <tr>
        <td class = "item-id"><%=item.id%></td>
        <td><%=item.name%></td>
        <td><%=item.price%></td>
        <td><%=item.unit%></td>
        <td><button type="button" class="btn btn-primary item-promotion">促销</button></td>
        <td><button type="button" class="btn btn-primary item-edit">修改</button></td>
        <td><button type="button" class="btn btn-primary item-delete">删除</button></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
<div class = "add-sheet">
  <h3 class = "add-entry label-primary">additem>>>></h3>
  <div class = "add-info">
    <label for = "itemName" class = "label-info">name</label>
    <input type = "text" class = "iName form-control" placeholder = "item name" autofocus required>
    <label for = "itemPrice" class = "label-info">price</label>
    <input type = "number" class = "iPrice form-control" placeholder = "item price" required>
    <label for = "itemUnit" class = "label-info">unit</label>
    <input type = "text" class = "iUnit form-control" placeholder = "item unit" required>
    <button class = "btn btn-primary addbutton">submit</button>
  </div>
</div>
<script type="text/javascript" src="../scripts/admin.js"></script>
