<div class="div-table">
  <div class="div-table-heard">
    <h3>购物清单</h3>
  </div>
  <div class="shop-cart">
    <table class="table table-hover">
      <thead>
        <tr class="active">
          <th>名称</th>
          <th>单价(元)</th>
          <th>单位</th>
          <th>数量</th>
          <th>小计</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>可口可乐</td>
          <td>3</td>
          <td>瓶</td>
          <td>
            <button type="button">-</button>
            <input>
            <button type="button">+</button>
          </td>
          <td>3</td>
        </tr>
        <tr>
          <td>雪碧</td>
          <td>3</td>
          <td>瓶</td>
          <td><button type="button">-</button>
            <input>
            <button type="button">+</button></td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cart-summary">
      <div class="shop-cart clearfix">
        <div class="clearfix">
          <h4 class="text-right flow-right margin-left"><span>6.00元</span></h4>
          <h4 class="text-right flow-right">总计：</h4>
        </div>
          <div class="clearfix cart-summary-button-dir">
            <div class="width-forty-percent flow-right margin-left">
              <a href="/payment" class="btn btn-primary btn-block flow-right" role="button">付 款</a>
            </div>
            <div class="width-forty-percent flow-right">
              <a href="/products" class="btn btn-default btn-block flow-right" role="button">继续购物</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../spec/fixtures.js"></script>
  <script type="text/javascript" src="../scripts/model/item.js"></script>
  <script type="text/javascript" src="../scripts/model/promotion.js"></script>
  <script type="text/javascript" src="../scripts/main.js"></script>
