<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pos Web</title>
    <link href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../styles/main.css"/>
    <script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid" id="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Let's go!</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                    <li><a href="/products">商品列表</a></li>
                    <li><a href="/admin">商品管理</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right " id="cartTextAndLosg">
                    <% if @isLogin === true%>
                      <li id="logName"><a href="#"><%=@user %>,欢迎</a></li>
                      <li id="logout"><a href="/logout">退出</a></li>
                    <%else%>
                      <li hidden="hidden" id="signIn"><a href="/login">登录</a></li>
                    <%end%>
                    <li>
                      <span class="glyphicon glyphicon-shopping-cart" id="cart-logo"></span>
                      <a href="/cart">购物车(<span id="count">2</span>)</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    <%= yield%>
  </body>
  <script type="text/javascript" src="../scripts/utils.js"></script>
  <script type="text/javascript" src="../scripts/highlightCurrentPage.js"></script>
</html>
