尊敬的<%=user.first.name%>:

     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;感谢您注册Let's Go！</p>
<div>
    <!--<!--<img src="./public/styles/imgs/logo.png">-->
    <img src='cid:#{pic.cid}'>
</div>