
.add-info label,
.add-info input {
  display : block;
  margin : 10px auto;
  width: 30%;
}

.add-info label { font-size: 25px; }

.addbutton {
   margin : 20px 35%;
   width : 30%;
}

.add-info { display:none; }

.add-sheet .add-entry { text-decoration:underline; }

.edit-link {
  text-align: center;
  font-size: 19px;
}

.product-table {
  margin: 20px 10% 20px 10%;
}

.add-entry {
  padding-left: 10%;
}

.div-split {
  margin: 5px auto;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.cover-on{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  z-index: 1;
  top: 0;
  opacity: 0.8;
  display: "";
}
#cover {
  display: none;
}
.edit-info label,
.edit-info input {
  display : block;
  margin : 10px auto;
  width: 30%;
}

.edit-info textarea {
  margin: 10px auto;
  width:30%;
}

.edit-info label {
  font-size: 18px;
  color: #ffffff;
}

.save-btn {
  margin : 20px 20px 20px 35%;
  width: 20%;
}

.back {
  font-size : 18px;
  text-decoration : underline;
}
.edit-info {margin-top: 50px;}
