
.edit-info label,
.edit-info input {
  display : block;
  margin : 10px auto;
  width: 30%;
}

.edit-info textarea {
  margin: 10px auto;
  width:30%;
}

.edit-info label { font-size: 18px; }

.save-btn {
  margin : 20px 20px 20px 35%;
  width: 20%;
}

.back {
  font-size : 18px;
  text-decoration : underline;
}
