
.navbar-brand{
    font-size: 30px;
}

.welcome-message h1{
    text-align: center;
}

.welcome-message p{
    width: 80%;
    margin: 15px auto 0 auto;
}

.welcome-message{
    background: url("imgs/bingo3.jpeg")  top 50px center no-repeat;
    background-clip:border-box;
    padding-bottom: 500px;
}

#let-button{
    margin-top: 15px;
    margin-left: 10%;
}

#container-fluid a:hover{
    color: #ffffff;
}

#container-fluid{
    background: #282828;
}

#container-fluid a{
    color: #ec971f;
}

#cart-logo{
    margin-top: 17px;
    color: #ec971f;
    margin-right: -8px;
}

