h1,h2,h3,h4,h5 {
  display: block;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-left {
  margin-left: 20px;
}

.width-forty-percent {
  width: 40%;
}

.width-fifty-percent {
  width: 30px;
}

.width-fix-eighty-px {
  width: 100px;
}

.width-fix-ten-px {
  width: 30px;
}

.font-color-red {
  color: red;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}



.button {
  font-family: 'UnitedItalicRgBk', Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding: 0 25px 0 10px;
  height:39px;
  width: auto;
  line-height:39px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  margin: 0;
  border: #000 solid 1px;
  color: #000;
  background: #f6d046 0 center repeat-x;
}

.button span {
  position: absolute;
  top:12px;
  right: 5px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 9px solid #000;
}

.navbar-brand{
  width: 150px;
  background: url("imgs/logo.png")  top 12px left 10px no-repeat;
}

#container-fluid{
  background: #282828;
}

#container-fluid a{
  color: #F6D046;
}

.div-table-heard {

}

.table-th {
  background-color: #ffffdd;
}

.div-table {
  margin: 0 auto;
  width: 80%;
  max-width: 90%;
}

.div-table-footer {

}

.flow-right {
  float:right;
}

#container-fluid ul li a:hover {
  text-decoration:none;
  color:#fff;
}

#container-fluid ul li.active a{
  text-decoration:none;
  color:#fff;
  background: #282828;
}
#cart-logo{
  /*display: inline;*/
  float: left;
  margin-top: 18px;
  color: #F6D046;
}

.item-list {
  border: 1px solid #ddd;/*#ffcc33;*/
  border-radius: 3px;
  padding: 20px 20px;
  box-shadow: 4px 4px 1px #eee;/*#f6d046;*/
}

.message-danger {
  margin: 0 0 20px 0;
}

.message-danger p{
  padding: 15px;
  display: none;
}

.hide {
  display: none;
}

/*--login------------------------------------*/
.div-login {
  margin: 60px auto;
  width: 50%;
  max-width: 50%;
}

.div-login h3 {
  /*
  color: #0A263C;
  font-weight: normal;
  font-size: 20px;*/
  padding-bottom: 3px;
  border-bottom: 2px solid ;
  margin: 0 0 20px;
  text-transform: capitalize;
}

.err-msg {
  color: #EB340A;
  border: 1px dashed #faa;
  background-color: #fee;
  margin-bottom: 20px;
  padding: 10px;
  display: none;
}

.err-msg h5 {
  font-size: 14px;
  margin: 0 0 10px;
  padding: 0;
}

.err-msg ul {
  list-style: disc inside;
  margin: 0;
  padding: 0;
}

.login-home {
  background: url("imgs/box_bg.gif") top left repeat-x;
  /*border: 1px solid #bbb6a5;*/
  border: 2px solid #ffcc33;
  border-radius: 5px;
  box-shadow: 4px 4px 1px #f6d046;
  padding: 25px;
}

.login-home h4 {
  color: #f6d046;
  background: #000002;
  padding: 8px;
  font-size: 18px;
  font-family: 'UnitedItalicRgBk', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.login-button-top {
  margin-top: 35px;
}

.shop-cart {
  border: 1px solid #ddd;/*#ffcc33;*/
  border-radius: 3px;
  padding: 20px 30px;
  box-shadow: 4px 4px 1px #eee;/*#f6d046;*/
  margin-bottom: 20px;
}

.cart-summary {
  width:60%;
  float:right;
}

.cart-save-item {
  width:58%;
  float:left;
}

.payment-summary {
  width:40%;
  float:right;
}

.payment-summary h5 {
  font-weight: normal;
}

.car-summary-width {
  padding-top: 5px;
  width: 80%;
  float:right;
}

.car-border-top {
  border-top: 1px solid #ccc;
}

.cart-summary-button-dir {
  margin-top: 5px;
  padding-top: 20px;
  width: 80%;
  float:right;
}

.shop-cart table input {
  width: 40px;
}

.shop-cart table td button {
  width: 25px;
}

.shop-cart .btn-xs {
  width:auto;
}

.item-col-name {
  width: 40%;
}

.item-col-num {
  width: 15%;
}

.item-col-button {
  width: 15%;
}

/*--index banner-------------*/

.welcome-div {
  background-color: #ffffdd;
  margin: 40px auto;
  width: 90%;
  max-width: 90%;
  border: 2px solid #ffcc33;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 8px 8px 3px #f6d046;
}

.div-index {
  padding: 25px 40px;
}

.div-index h1 {
  font-size: 45px;
}

.div-index p {
  font-size: 22px;
}

.welcome-pic{
  background: url("imgs/bingo-1.jpg")  top center no-repeat;
  background-clip:border-box;
  padding-bottom: 370px;
  width: 280px;
  margin: 30px 0px 30px 72px;
}

#let-button{
  margin-top: 15px;
}

/*--fonts--------------------*/
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?uipmj5');
  src:url('fonts/icomoon.eot?#iefixuipmj5') format('embedded-opentype'),
  url('fonts/icomoon.woff?uipmj5') format('woff'),
  url('fonts/icomoon.ttf?uipmj5') format('truetype'),
  url('fonts/icomoon.svg?uipmj5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e601";
}
.icon-users:before {
  content: "\e602";
}
.icon-exit:before {
  content: "\e600";
}
.icon-trash:before {
  content: "\e604";
}
.icon-pen:before {
  content: "\e605";
}
